#sim .radio input {
	height: 20px;
	width: 20px;
	margin-right: 10px;
}
#sim input {
	border-radius: 0px;
	padding: 7px;
	height: 40px;
	font-size: 18px;
}
#calculer_sim_automobile, #calculer_sim_confort, #calculer_sim_immob {
	background: #459f36;
	outline: none;
	border: none;
	padding: 10px 62px;
	color: #fff;
	font-size: 17px;
	margin: 15px auto;
}
.form-group {
	margin-bottom: 15px;
}
::selection {
	background: #459f36;
	color: #fff;
}
#sim span {
	color: #459f36;
	font-weight: 700;
}